---
layout: none
---

<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}" />
        <link rel="stylesheet" href="{{ '/css/syntax.css' | relative_url }}" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="description" content="{{ page.description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script>
            window.MathJax = {
                tex: {
                    inlineMath: [
                        ["$", "$"],
                        ["\\(", "\\)"],
                    ],
                    displayMath: [
                        ["$$", "$$"],
                        ["\\[", "\\]"],
                    ],
                    processEscapes: true,
                },
                options: {
                    skipHtmlTags: [
                        "script",
                        "noscript",
                        "style",
                        "pre",
                        "code",
                    ],
                    ignoreHtmlClass: "tex2jax_ignore",
                    processHtmlClass: "tex2jax_process",
                },
            };
        </script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    </head>
    <body>
        <!-- Header -->
        <header>
            <nav>
                <center>
                    <a href="/">About</a> · <a href="/blog.html">Blog</a> ·
                    <a href="/links.html">Links</a> ·
                    <a href="/100-list.html">100 List</a> ·
                    <a href="/reading.html">Reading</a>
                </center>
            </nav>
        </header>

        <hr />

        <!-- Main Content -->
        <main>{{ content }}</main>
    </body>
</html>
